<?xml version="1.0" encoding="UTF-8"?>
<WebSquare>
    <allValue value="all"/>
    <docType value="standard"/>
    <debug remoteConsole="false" value="true"/>
    <debugKey value=""/>
    <language value="ko"/>
    <date>
        <requestInterval value="10000"/>
    </date>
    <exceptionHandler value="websquare"/>
    <debugMenu value="use"/>
    <welcome-file/>
    <postDrawMode value="synchronous"/>
    <forcedValueSetting value="true"/>
    <processMsgHeight value="81"/>
    <processMsgWidth value="295"/>
    <processMsgBackground backgroundColor="#112233" value="true"/>
    <byteCheckEncoding value="euc-kr"/>
    <initScript value="false"/>
    <clearMemory value="false"/>
    <stylesheet earlyImportList="" enable="true" import="link" value="stylesheet_ext.css"/>
    <style>
        <removeDefaultClass value="true"/>
    </style>
    <engine/>
    <ModelUtil>
        <copyChildrenNodes refresh="false"/>
    </ModelUtil>
    <preProcessor>
        <systemPreProcessor value=""/>
        <businessPreProcessor value=""/>
    </preProcessor>
    <workflow>
        <processMsg value=""/>
        <makeGlobalObject value="true"/>
    </workflow>
    <submission>
        <processMsg value=""/>
        <showSubmissionTime value="true"/>
        <preSubmitFunction value="presubmit"/>
        <callbackSubmitFunction value=""/>
        <requestID value=""/>
        <makeGlobalObject value="true"/>
    </submission>
    <visibleHelper>
        <targetHandler value=""/>
    </visibleHelper>
    <spa>
        <onpageunload value=""/>
        <variable value="scwin"/>
        <scriptCache value="true"/>
        <autoReload count="50" value="true"/>
    </spa>
    <scriptLoading merge="true"/>
    <scriptPrecedence value="true"/>
    <strictMode id="mf" value="true"/>
    <engineCache compression="true" enable="true" postfix="month"/>
    <userAgentPattern XPathParser="Edge"/>
    <preserveWhiteSpace value="false"/>
    <environment cache="nocache" mode="production" postfix="day"/>
    <script postfix="environment"/>
    <emptyTag value="area,base,basefont,br,col,frame,hr,img,input,link,meta,param"/>
    <engineLoadingMode android="0" chrome="0" ie="0" iphone="0" moz="0" opera="0" safari="0"/>
    <dataList>
        <removeDummyRowStatus value="true"/>
        <removedDataMatch value="true"/>
    </dataList>
    <grid>
        <rowNumStatusUniqueId value="true"/>
        <drilldownRealRowIndexAll value="true"/>
        <collectGarbage value="none"/>
        <fastScroll value="true"/>
        <dataType>
            <date displayFormat="yyyy-MM-dd"/>
        </dataType>
        <editType value="focus"/>
        <rowNumBackgroundColor value="#e5eff7"/>
        <selectedRowColor value="#fcf8e3"/>
        <oddEvenColorDisplay value="true"/>
        <evenRowBackgroundColor value="#f5f5f5"/>
        <oddRowBackgroundColor value="#ffffff"/>
        <rowMouseOver value="true"/>
        <rowMouseOverColor value="#edf3fb"/>
        <tooltipStyle value="padding:1px 3px 0;line-height:14px;font-size:12px;border:0;background-color:#5c85d4;color:#fff"/>
        <noResultMessageVisible value="true"/>
        <noResultMessage value="데이터가 없음"/>
        <noResultMessageStyle value="position:absolute; left:40%; width:20%; top:40%; border:1px solid #b3b3b3; color:#383d41; font-size:12px; padding:5px; text-align:center; background:#fafafa"/>
        <pasteMessage value="데이터 붙이는 중"/>
        <getColumnVisible useRealColIndex="true"/>
        <colIdToColIndex value="true"/>
        <column inputType="text">
            <editType value="select"/>
        </column>
        <column inputType="select">
            <chooseOptionLabel value="-선택-"/>
        </column>
        <column inputType="calendar">
            <dataType value="date"/>
            <displayFormat value="yyyy-MM" valueType="yearMonth"/>
            <displayFormat value="yyyy-MM-dd" valueType="yearMonthDate"/>
            <displayFormat value="yyyy-MM-dd HH:mm" valueType="yearMonthDateTime"/>
            <displayFormat value="yyyy-MM-dd HH:mm:SS" valueType="yearMonthDateTimeSec"/>
        </column>
    </grid>
    <gridView>
        <rowNumStatusUniqueId value="true"/>
        <preventMultipleClick value="true"/>
        <drilldownRealRowIndexAll value="true"/>
        <collectGarbage value="none"/>
        <fastScroll value="true"/>
        <dataType>
            <date displayFormat="yyyy-MM-dd"/>
        </dataType>
        <editType value="focus"/>
        <rowNumBackgroundColor value="#e5eff7"/>
        <selectedRowColor value="#fcf8e3"/>
        <oddEvenColorDisplay value="true"/>
        <evenRowBackgroundColor value="#f5f5f5"/>
        <oddRowBackgroundColor value="#ffffff"/>
        <rowMouseOver value="true"/>
        <rowMouseOverColor value="#edf3fb"/>
        <tooltipStyle value="padding:1px 3px 0;line-height:14px;font-size:12px;border:0;background-color:#5c85d4;color:#fff"/>
        <noResultMessageVisible value="true"/>
        <noResultMessage value="데이터가 없음"/>
        <noResultMessageStyle value="position:absolute; left:40%; width:20%; top:40%; border:1px solid #b3b3b3; color:#383d41; font-size:12px; padding:5px; text-align:center; background:#fafafa"/>
        <pasteMessage value="데이터 붙이는 중"/>
        <getColumnVisible useRealColIndex="true"/>
        <colIdToColIndex value="true"/>
        <column inputType="text">
            <editType value="select"/>
        </column>
        <column inputType="select">
            <chooseOptionLabel value="-선택-"/>
            <eventPriority value="oneditend"/>
        </column>
        <column inputType="calendar">
            <dataType value="date"/>
            <displayFormat value="yyyy-MM" valueType="yearMonth"/>
            <displayFormat value="yyyy-MM-dd" valueType="yearMonthDate"/>
            <displayFormat value="yyyy-MM-dd HH:mm" valueType="yearMonthDateTime"/>
            <displayFormat value="yyyy-MM-dd HH:mm:SS" valueType="yearMonthDateTimeSec"/>
        </column>
    </gridView>
    <inputCalendar>
        <validCheck value="false"/>
        <dataType value="date"/>
        <delimiter value="-"/>
        <mask value="MM-dd-yyyy"/>
        <delimiterLocaleKey value="IC_Delimiter"/>
        <maskLocaleKey value="IC_Mask"/>
        <calendarImage value=""/>
        <calendarImageOver value=""/>
    </inputCalendar>
    <input>
        <focusStyle value=""/>
        <dateMask value="yyyy-MM-dd"/>
        <timeMask value="HH:mm"/>
        <focusCalcSize value="false"/>
    </input>
    <calendar>
        <minYear value="1978"/>
        <maxYear value="2030"/>
    </calendar>
    <selectbox>
        <visibleRowNum value="5"/>
        <dataListAutoRefresh value="true"/>
    </selectbox>
    <tabControl>
        <delegateProcessMsg value="true"/>
    </tabControl>
    <treeview>
        <tooltipGroupClass value="false"/>
    </treeview>
    <trigger>
        <preventMultipleClick value="true"/>
    </trigger>
    <anchor>
        <preventMultipleClick value="true"/>
    </anchor>
    <wframe>
        <mode value="sync"/>
        <scope value="true"/>
        <delegateProcessMsg value="true"/>
    </wframe>
    <pageInherit>
        <mode value="sync"/>
    </pageInherit>
    <windowContainer>
        <tooltipGroupClass value="false"/>
        <getWindow searchTarget="windowId"/>
        <displayOnlyTopWindow value="true"/>
        <delegateProcessMsg value="true"/>
    </windowContainer>
    <pageList/>
    <radio>
        <nameScope value="true"/>
    </radio>
    <body>  <toolTipSec value="1"/>
    </body>
    <editor>
        <version value="4.11.3"/>
    </editor>
    <fusionchart/>
    <languagePack useLanguagePack="true">
        <url lang="ko" value="/cm/js/lang/ko.js"/>
	    <url lang="en" value="/cm/js/lang/en.js"/>
    </languagePack>
    <license value="true"/>
</WebSquare>
